/* .boxDragging {
  background-color: orange;
}

.boxDragging * {
  pointer-events: none;
}

.boxDragging [draggable] {
  pointer-events: initial;
} */

.itemDragging {
  opacity: 0.3;
}

.itemHidden {
  display: none !important;
}