.item {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  /* opacity: 0.9; */
}

.item.dragging {
  opacity: 0.3;
}

.item.small {
  width: 75px;
}

.item.large {
  width: 400px;
  height: 150px;
}

.item .bar {
  background-color: #eee;
  height: 25px;
}

.item.can-drag .bar {
  background-color: gray;
  cursor: grab;
}

.item .content {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  font-size: 30px;
  justify-content: center;
  pointer-events: none;
}

.item .test-drag-overflow {
  position: absolute;
  bottom: -50px;
  background-color: red;
  height: 50px;
}

.chart {
  height: calc(100% - 25px);
  width: 100%;
}
